body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: cyan;
  padding-right: 90vh;
}
.name {
  font-size: xx-large;
  align-items: center;
  height: 100vh;
  text-align: right;
  padding-left: 100vh;
  font-style: calc(repeat);
  color: red;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 800px;
  margin: auto;
}

.display {
  grid-column: span 4;
  background-color: #1abdde;
  border: 2px solid blue;
  padding: 20px;
  font-size: 1.5em;
  text-align: right;
}

button {
  padding: 20px;
  font-size: 1.2em;
  background-color: rgb(250, 159, 159);
  border: 2px solid #e42020;
  cursor: pointer;
}
